# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=your-account-id

# Cognito
USER_POOL_ID=your-user-pool-id
USER_POOL_CLIENT_ID=your-client-id

# SES
SES_FROM_EMAIL=noreply@yourdomain.com
SES_REGION=us-east-1

# Application
STAGE=dev
